<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rcon_pass" value="letmein" />
    <add key="hostname" value="great name" />
    <add key="description" value="great server" />
    <add key="server_port" value="28015" />
    <add key="rcon_port" value="28016" />
    <add key="app_port" value="28017" />
    <add key="seed" value="seme" />
    <add key="world_size" value="4000" />
  </appSettings>
</configuration>